
<h1>Check out the groups!</h1>

<div class="container">

  <%= simple_form_for :search, url: groups_path, method: :get do |f| %>
  <div class="search-form-control form-group form-inline" >
    <input class="form-control string required" id=input-1 type="text" name="named" id="query" placeholder="City" onfocus="" onblur="" <%= params[:city] %> />

    <select name="style" class="form-control string" id="drop-down">
      <option  value="">Style of meditation</option>
      <option value="Loving-kindness meditation">Loving-kindness meditation</option>
      <option value="Mindfulness meditation">Mindfulness meditation</option>
      <option value="Buddhist meditation">Buddhist meditation</option>
      <option value="Zen meditation">Zen meditation</option>
      <option value="Transcendental meditation">Transcendental meditation</option>
      <option value="Other">Other</option>
    </select>

     <select name="structure" class="form-control string" id="drop-down">
      <option  value="">Group structure</option>
      <option value="Group class">Group class</option>
      <option value="One-on-one">One-on-one</option>
      <option value="Group discussion">Group discussion</option>
      <option value="Social Group">Social Group</option>
    </select>

    <button name="button" type="submit" class="btn btn-flat" id="search-button">
     <i class="fas fa-compact-disc"></i> Search groups
    </button>
  </div>
<% end %>

<div class="cards">
<% @groups.each do |group| %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1882004/pexels-photo-1882004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400)">
      <p><%= link_to group.name, group_path(group) %></p>
    </div>
  <% end %>
  </div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
 ></div>


</div>


