<div class="container-1" style="margin-top: 80px">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1 class="mb-4">Create a group</h1>
      <%= simple_form_for [@group] do |f| %>
      <%= f.input :name, label: "Name of your group" %>
      <%= f.input :style, label: "Type of meditation", collection: ["Loving-kindness meditation", "Mindfulness meditation", "Buddhist meditation", "Zen meditation", "Transcendental meditation", "Other" ] %>
      <%= f.input :structure, label: "Type of group", collection: ["Group class", "Group meditation", "One-on-one", "Group discussion", "Social Group" ]%>
      <%= f.input :link, label: "Media link to your group" %>
      <%= f.input :address, label: "The group's address" %>
      <%= f.input :city, label: "City", hint: "", placeholder: "e.g London, Cambrdige, Oxford" %>
      <%= f.input :photo, as: :file, label: "Upload a photo of your group!"%>
      <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br>
</div>


